* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 896px) and (orientation: landscape) {
    html {
        font-size: 50%;
    }
}

body {
    background-color: #ee98fb;
    animation: gradationTest 10s infinite;
}

@keyframes gradationTest {
    0% { background-color: #e35183; }
    50% { background-color: #6200ea; }
    100% { background-color: #e35183; }
}

#Timer {
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    font-size: 9rem;
}

p {
    font-size: 4.2rem;
}
