body {
    background-color: #ee98fb;
    animation: gradationTest 10s infinite;
}

@keyframes gradationTest {
    0% { background-color: #e35183; }
    50% { background-color: #6200ea; }
    100% { background-color: #e35183; }
}

#Timer {
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 15vh;
}

p {
    text-align: center;
    font-size: 7vh;
}
